.nav-style {
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0);
  box-shadow: 0 0 20px 1px black;
  padding: 20px;
  transition: 0.5s;
}

.nav-style:hover {
  background-color: rgb(4, 4, 43);
  box-shadow: 0 0 20px 1px black;
  padding: 20px;
  transition: 0.5s;
}

.nav-item-style {
  position: relative;
  font-size: 30px;
  color: white;
  text-decoration: none;
  padding: 10px;
  margin-right: 25px;
  margin-left: 25px;
}

.nav-item-style:hover {
  color: blue;
}

.nav-item-style::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 3px;
  width: 0px;
  background: blue;
  transition: width 0.2s;
}

.nav-item-style:hover:after {
  width: 100%;
}
