body {
  background-color: black;
}

.system {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.solar {
  background: linear-gradient(#f6d368, #c89f14);
  border-radius: 100%;
  width: 500px;
  height: 500px;
  grid-column: 4/5;
  grid-row: 2/3;
}

.mercury {
  background: linear-gradient(#facbf8, #a164a0);
  box-shadow: #754774 10px 5px 5px 1px;
  border-radius: 100%;
  width: 200px;
  height: 200px;
  grid-column: 2/3;
}

.venus {
  background: linear-gradient(#d0facb, #68a164);
  border-radius: 100%;
  width: 300px;
  height: 300px;
  grid-column: 1/3;
  border: none;
}

.earth {
  background-color: aqua;
  border-radius: 100%;
  width: 400px;
  height: 400px;
  grid-column: 2/3;
}

.mars {
  background: linear-gradient(#facbf8, #a164a0);
  box-shadow: #754774 10px 5px 5px 1px;
  border-radius: 100%;
  width: 200px;
  height: 200px;
  grid-column: 1/3;
  border: none;
}

.jupiter {
  background: linear-gradient(#facbf8, #a164a0);
  box-shadow: #754774 10px 5px 5px 1px;
  border-radius: 100%;
  width: 200px;
  height: 200px;
  grid-column: 1/3;
  border: none;
}
.saturne {
  background: linear-gradient(#facbf8, #a164a0);
  box-shadow: #754774 10px 5px 5px 1px;
  border-radius: 100%;
  width: 200px;
  height: 200px;
  grid-column: 1/3;
  border: none;
}
.uranus {
  background: linear-gradient(#facbf8, #a164a0);
  box-shadow: #754774 10px 5px 5px 1px;
  border-radius: 100%;
  width: 200px;
  height: 200px;
  grid-column: 1/3;
  border: none;
}
.neptune {
  background: linear-gradient(#facbf8, #a164a0);
  box-shadow: #754774 10px 5px 5px 1px;
  border-radius: 100%;
  width: 200px;
  height: 200px;
  grid-column: 1/3;
  border: none;
}