@media screen and (max-width: 768px) {
  /* *NONE */
  .filter {
    display: none;
  }

  /* *TITLE */
  .title-page-projects {
    text-align: center;
    margin-top: 50px;
  }

  /* *CONTAINER */
  #image-gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
  }
  .gallery-item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: white;
    box-shadow: lightgray 0 5px 15px 0;
    border-radius: 10px;
    padding-top: 0;
    width: 100%;
  }
  .gallery-image {
    width: 100%;
    object-fit: contain;
    border-radius: 0;
  }
  .gallery-description {
    color: #333;
    text-align: center;
    width: 100%;
  }
  /* *FILTER */

  .filter-mobil {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
  }
  .filter-btn:active,
  .filter-btn:focus {
    background-color: #4682a9;
    transform: translateY(5px);
    cursor: pointer;
    box-shadow: inset 0 5px 10px 0px black;
  }
  /* select style */
  .filter-mobil select {
    width: 80%;
    padding: 10px;
    border-radius: 8px;
    border: none;
    box-shadow: lightgray 0 5px 15px 0;
    background-color: white;
    color: #333;
    font-family: "Finger Paint", sans-serif;
    font-size: 16px;
  }
}

@media screen and (min-width: 768px) {
  /* *NONE */
  .filter-mobil {
    display: none;
  }

  /* *TITLE */
  .title-page-projects {
    text-align: center;
    margin-top: 50px;
  }

  /* *CONTAINER */
  #image-gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2.5rem;
  }
  .gallery-item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: lightgray 0 5px 15px 0;
    border-radius: 10px;
    padding-top: 15px;
    width: 25%;
  }
  .gallery-image {
    width: 300px;
    object-fit: contain;
    border-radius: 10px;
  }
  .gallery-description {
    color: #333;
    text-align: center;
    width: 100%;
  }
  /* *FILTER */
  .filter {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
    margin: 50px;
  }
  .filter-btn {
    border-radius: 50px;
    border: none;
    padding: 20px;
    background-color: #4682a9;
    color: #f6f4eb;
    font-family: "Finger Paint", sans-serif;
    font-size: 15px;
  }
  .filter-btn:hover {
    box-shadow: 0 5px 10px 0px lightgray;
    cursor: pointer;
  }
  .filter-btn:active,
  .filter-btn:focus {
    background-color: #4682a9;
    transform: translateY(5px);
    cursor: pointer;
    box-shadow: inset 0 5px 10px 0px black;
  }
}
