body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}
.title-page-projects {
  text-align: center;
}
.container-avatar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.avatar {
  width: 30%;
  transition: filter 250ms ease-in-out, transform 250ms ease-in-out;
  transform: scale(1.2);
  animation: pulse-shadow 2s ease-in-out infinite;
}

@keyframes pulse-shadow {
  0% {
    filter: drop-shadow(0 0 2rem #91c8e4);
  }
  25% {
    filter: drop-shadow(0 0 2rem #749bc2);
  }
  50% {
    filter: drop-shadow(0 0 2rem #4682a9);
  }
  100% {
    filter: drop-shadow(0 0 2rem #91c8e4);
  }
}
