/* *GLOBAL */
.main {
  margin: 50px;
  gap: 20px;
  display: flex;
  flex-direction: column;
}
.title-page-projects {
  text-align: center;
  margin-top: 35px;
}

/* some <li> --> like on my CV */
.cv-nav {
  display: flex;
  justify-content: center;
  font-size: 20px;
}
.cv-ul {
  list-style-type: none;
  display: flex;
  gap: 50px;
}
.cv-li {
  color: white;
  text-decoration: none;
  background-color: #749bc2;
  border-radius: 25px;
  padding: 20px;
  display: flex;
  align-items: center;
}
.cv-ul > .cv-li {
  transition: scale 250ms ease, opacity 350ms linear;
}
.cv-ul:has(.cv-li:hover) .cv-li:not(:hover) {
  scale: 0.95;
  opacity: 0.7;
}
.a-contact {
  text-decoration: none;
  color: white;
}
.a-contact:hover {
  color: black;
}

/* *PRESENTATION CARD */
.presentation {
  display: flex;
  align-items: center;
  width: 100%;
}
.card-description-me {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  padding: 0 3.5rem 3.5rem 3.5rem;
  width: 70%;
  background: #91c8e4b8;
  box-shadow: 0 8px 32px 0 lightgray;
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.container-contact-logo {
  display: flex;
  gap: 2rem;
}
.avatar {
  width: 30%;
  height: 30%;
}
.first-elements {
  display: flex;
  flex-direction: column;
}
.name {
  color: white;
  font-size: 40px;
  margin: 0;
  font-family: "Finger Paint", sans-serif;
}
.container-contact-logo {
  display: flex;
  gap: 2rem;
  margin-top: 25px;
}
.contact-logo {
  width: 4%;
  aspect-ratio: 1/1;
  transition: scale 350ms ease, opacity 450ms ease;
}
.contact-logo:hover {
  scale: 1.2;
}
.container-contact-logo:has(.contact-logo:hover) .contact-logo:not(:hover) {
  opacity: 0.3;
}
.atout-ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 2rem;
}
.atout-li {
  background-color: white;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  box-shadow: inset lightgray 0 5px 15px 0;
}
.atout-ul > .atout-li {
  transition: opacity 450ms linear;
}
.atout-ul:has(.atout-li:hover) .atout-li:not(:hover) {
  opacity: 0.3;
}
/* --- */
.competences-ul {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style-type: none;
  gap: 2rem;
  box-shadow: inset lightgray 0 5px 15px 0;
}
/* --- */
.logo-logiciel {
  width: 3.5%;
  height: 3.5%;
}
.logo-logiciel-2 {
  width: 6%;
  height: 6%;
}

/* *FORMATION CARD */
.formation {
  display: flex;
  gap: 2rem;
}
.card-formation {
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: lightgray 0 5px 15px 0;
}
.date-formation,
.date-experience {
  background-color: #f6f4eb;
  border-radius: 10px;
  padding: 10px;
  box-shadow: lightgray inset 0 5px 5px 0;
  text-align: center;
}
.titre-formation {
  background-color: #91c8e4;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  box-shadow: lightgray 0 5px 15px 0;
}
.diplome {
  text-align: center;
}

/* *EXPERIENCES CARD */
.experience {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}
.card-experience {
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: lightgray 0 5px 15px 0;
}
.titre-experience {
  background-color: #749bc2;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  box-shadow: lightgray 0 5px 15px 0;
}
.atout-ul-ex {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style-type: none;
  gap: 2rem;
}
.atout-li-ex {
  background-color: white;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  box-shadow: inset lightgray 0 5px 15px 0;
}
.atout-ul-ex > .atout-li-ex {
  transition: opacity 450ms linear;
}
.atout-ul-ex:has(.atout-li-ex:hover) .atout-li-ex:not(:hover) {
  opacity: 0.3;
}

/* *BUTTON */
.btn-cv {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: #4682a9;
  border: none;
  border-radius: 10px;
  margin: auto;
  margin-top: 50px;
  padding: 15px;
}
.btn-cv > a {
  font-size: 25px;
  color: white;
  text-decoration: none;
}
.btn-cv > a:hover {
  font-size: 25px;
  color: black;
}
.btn-cv > img {
  width: 15%;
}
.btn-cv:hover {
  box-shadow: lightgray 0 5px 15px 0;
}
.btn-cv:active {
  transform: translateY(5px);
}

@media screen and (max-width: 426px) {
  .cv-ul {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 25px;
  }

  .cv-li {
    border-radius: 10px;
    padding: 5px;
  }

  /* *PRESENTATION CARD */
  .presentation {
    flex-direction: column;
  }
  .card-description-me {
    text-align: center;
    padding: 0 3.5rem 3.5rem 3.5rem;
    border-radius: 0;
  }
  .avatar {
    width: 100%;
    height: 100%;
  }
  .name {
    text-align: center;
  }
  .contact-logo {
    display: none;
  }
  .atout-ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 2rem;
  }
  .competences-ul {
    justify-content: center;
  }
  .logo-logiciel {
    width: 25%;
    height: 25%;
  }
  .logo-logiciel-2 {
    width: 28.5%;
    height: 28.5%;
  }
  /* *FORMATION CARD */
  .formation {
    display: flex;
    flex-direction: column;
    margin: 0 -2.5rem 0 -2.5rem;
    gap: 2rem;
  }

  /* *EXPERIENCE CARD */
  .experience {
    display: flex;
    flex-direction: column;
    margin: 0 -2.5rem 0 -2.5rem;
    gap: 2rem;
  }
  .atout-ul-ex {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
